body {
    text-align: center;
    background-image: linear-gradient(to bottom, #180030, #141414, white);
    margin: 0;
    padding: 0;
}
ul,
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h3,
h1,
p{
    color: rgba(255,255,255,.8);
}
.navbar {
    padding: 10px;
    background-color: black;
    width: 100%;
    height: 100%;
    max-width: 80rem;
}
.navItems{
    display: contents;
}
.leftHeader{
    padding-left: 10px;
}
.headerItem{
    padding: 10px;
}
.headerLink{
    color: rgba(255,255,255,.8);
    font-family: 'akkurat', sans-serif;
}
.downloadButton{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    background: linear-gradient(105.23deg, #01A4FF 33.35%, #01FFC2 115.77%);
}
.mainBodyTopContent{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding-top: 2rem;
}
.welcomeImage{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.middleGrid{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;  
}
.quoteBlock{
    margin-top: 8rem;
}
